@model GameSlotViewModel
<section>
    <table>
        @for (int row = 0; row < @Model.Rows; row++)
        {
            <tr>
                @for (int col = 0; col < @Model.Cols; col++)
                {
                    <td><img src="~/images/fruits/@(Model.Matrix[row,col] + ".png")" id="@(row.ToString() + col.ToString()) "></td>
                }
            </tr>
        }
    </table>

    <div class="text text-success">Balance: @Model.Balance</div>
    <div class="text text-success">Earning: @Model.Stake</div>
    <span asp-validation-for="@Model.Stake" class="text-danger"></span>
    <div class="text text-success"> @Model.Message</div>
</section>

@section Scripts
    {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}