@model GameSlotViewModel

<link href="~/css/game.css" rel="stylesheet" />

<section>
    <table>
        <hr />
        @for (int row = 0; row < @Model.Rows; row++)
        {
            <tr>
                @for (int col = 0; col < @Model.Cols; col++)
                {
                    <td><img class="gameimg img-responsive"  src="~/images/fruits/@(Model.Matrix[row,col] + ".png")" id="@(row.ToString() + col.ToString()) "></td>
                }
            </tr>
        }

    </table>

    <hr />
    <div class="inline text text-info">Balance: <strong> @Math.Round(@Model.Balance, 2)</strong></div>
    <div class="inline text text-success">Earning:+ <strong>@Math.Round(@Model.Stake, 2)</strong></div>
    <span asp-validation-for="@Model.Stake" class="text-danger"></span>
    <div class="inline text text-justify"><strong> @Model.Message</strong></div>

</section>

@section Scripts
    {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}