@model GameSlotViewModel
@inject IJsonHelper Json

@{
    ViewData["Title"] = "SmallSlotMachine";
}

<h2 class="text-center">Slot Machine</h2>
<div id="status-msg">
    <partial name="_StatusMessage" model="@Model.StatusMessage" />
</div>

<div class="row" id="slot-machine">
    <div class="col-md-6 col-md-offset-3">
        <div id="partial">
            <partial name="_GameSlotPartial" model="@Model" />
        </div>

        <form id="spin-form" method="post" asp-controller="Game" asp-action="Spin">
            <div class="form-group col-md-6 col-md-offset-3">
                <label asp-for="@Model.Amount" class="control-label text-info"></label>
                <input asp-for="@Model.Amount" id="stake-amount" type="number" min="1" />
                <span class="text-info">@WebConstants.CurrencySymbols[Model.Currency]</span>
                <span asp-validation-for="@Model.Amount" class="text-danger"></span>

                <input asp-for="@Model.Rows" id="rows" hidden />
                <input asp-for="@Model.Cols" id="cols" hidden />
            </div>
            <button type="button" id="spin-button" class="btn btn-success btn-block">Spin</button>
        </form>
    </div>
</div>

<audio id="spin-audio" src="/audio/snip.mp3"></audio>
<audio id="win-audio" src="~/audio/win.mp3"></audio>
<audio id="big-win-audio" src="~/audio/big-win.mp3"></audio>


@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")s
    <script src="~/js/game.js"></script>

    <script>
        let MyAppUrlSettings = {
            GameSpinUrl: '@Url.Action("Spin","Game")',
            UserBalanceComponent: '@Url.Action("BalanceViewComponent", "UserBalance")',
            AntyForgeryToken: '@Html.AntiForgeryToken()'
        }
    </script>
}